.routeLinks {
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
.routeLink {
  height: 40px;
  padding: 0 16px;
  line-height: 20px;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background: #eee;
  &:not(:first-child) {
    border-left: 1px solid #ddd;
  }
  &:active {
    color: inherit;
  }
  &.active {
    pointer-events: none;
    background-color: #ddd;
  }
}