.title {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
  font-size: 32px;
  padding-bottom: 10px;
}

.content {
  height: 400px;
  background-color: #a32599;
  color: #ffd67a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  border-radius: 16px;
}