.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
  box-sizing: border-box;
}
.header {
  padding-top: 40px;
  margin-bottom: 20px;
}
