.xrswitch {
  width: 44px;
  height: 24px;
  border-radius: 24px;
  display: inline-block;
  box-sizing: content-box;
  background-color: #d6d7d7;
  position: relative;
  overflow: hidden;
  transition: background-color .3s;
  vertical-align: top;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &.block {
    display: block;
  }
  &.active {
    background-color: #48cd6a;;
    .inner {
      transform: translate3d(22px, -50%, 0);
    }
  }
  .inner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5f9ff;
    transform: translate3d(2px, -50%, 0);
    transition: transform .3s;
  }
}
